:root {
  --primary-color: #ffffff;
    --secondary-color: #c63bfa;
    --background-color: #ffffff;
    --text-color: #ffffff;
    --body-text-color: #1e3a8a;
    --heading-color: #1e3a8a;
    --border-color: #cccccc;
    --link-color: #13cfe8;
    --hover-color: #13cfe8;
    --card-hover-color: #12c2e9;
    --download-btn-hover: #12c2e9;
    --nav-links-hover-bg: #1c2f6c;
    --gradient-start: #13cfe8;
    --gradient-end: #1c2f6c;
    --menu-bg: #ffffff;
    --contact-section-bg: #ffffff;
    --contact-heading-color: #1e3a8a;
    --contact-text-color: #6b7280;
    --contact-card-bg: #f9fafb;
    --form-label-color: #374151;
    --form-border-color: #d1d5db;
    --submit-btn-bg: var(--menu-bg);
    --project-heading-color: #1e3a8a;
    --project-text-color: ##ffffff;
    --project-card-bg: #f9fafb;
    --project-card-text-color: #4a5568;
    --card-hover-text-color:#ffffff;
    --footer-bg-project: #2d3748;
    --footer-bg-resume: #1e3a8a;
    --text-color-footer:#ffffff;
}



/* تأثير hover للروابط */
a:hover {
  color: #c63bfa !important;
}
.nav a:hover{
  color: var(--hover-color) !important;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--primary-color);
  color: var(--body-text-color);
  margin: 0;
  padding: 0;
}


/* تدرج الخلفية */
.bg-primary-gradient {
  background: linear-gradient(to left, var(--gradient-start), var(--gradient-end));
}


.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

/* تنسيقات النص */
.text-center { text-align: center; }
.text-2xl { font-size: 1.5rem; font-weight: bold; }
.text-3xl { font-size: 1.875rem; font-weight: bold; }
.text-4xl { font-size: 2.25rem; font-weight: 800; }
.text-lg { font-size: 1.125rem; }
.text-xl { font-size: 1.25rem; color:var(--text-color);}
.font-extrabold { font-weight: 800; }

/* الحواف والتباعد */
.p-4 { padding: 1rem; }
.p-8 { padding: 2rem; }
.py-4 { padding-top: 1rem; padding-bottom: 1rem; }
.py-8 { padding-top: 2rem; padding-bottom: 2rem; }
.py-16 { padding-top: 4rem; padding-bottom: 4rem; 
  padding-top: 4rem;
  padding-bottom: 4rem;
  box-shadow: 12px;
  box-shadow: 1px 6px 30px 18px rgb(0 0 0 / 22%);
  border-radius: 4%;}
.px-4 { padding-left: 1rem; padding-right: 1rem; }
.mb-4 { margin-bottom: 1rem; }


/* الشعار */
.logo {
  color: var(--heading-color);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

/* صورة البروفايل */
.profile-img {
  border-radius: 9999px;
     width: 12rem;
    height: 13rem;
  display: block;
  margin: 11px auto 1rem auto;
}

/*--------- قائمة التنقل ---------*/

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2.2rem;
  left: 0;
  width: 92.5vw;
  background-color: var(--menu-bg);
  z-index: 50;
  text-align: center;
}

.menu li {
  list-style: none;
}

.menu li a {
  
  padding: 0.5rem 1rem;
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.menu li a:hover {
  background-color: var(--menu-bg);
}
.menu li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--hover-color);
  transition: width 0.3s ease;
}

.menu li a:hover::after {
  width: 100%;
}

/* download btn*/
.download-btn {
  background-color: var(--body-text-color);
  color: var(--background-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  text-decoration: none;
  
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.download-btn:hover {
  background-color: #4e4cff; 

  transform: scale(1.05); 
  color: #ffffff !important; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
/*icon */
.icon {
  width: 1.5rem;
  height: 1.5rem;
}


.hidden {
  display: none;
}
/*responsive menu*/
@media (min-width: 768px) {
  .md-hidden {
    display: none !important;
  }
  .menu {
    position: static;
    display: flex !important;
    flex-direction: row;
    width: auto;
    background-color: transparent;
    justify-content: flex-end;
  }
  .menu li {
    margin-left: 1.5rem;
  }
}

/*--------- contact page---------*/

body.contact {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}
.navbar {
  background-color: var(--heading-color);
  padding: 1rem;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-brand {
  color: var(--heading-color);
  font-size: 1.5rem;
  font-weight: bold;
}
.menu-btn {
  background: none;
  border: none;
  color: var(--heading-color);
  display: block;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
  background-color: var(--menu-bg);
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-links.show {
  display: flex;
}

.nav-links li {
  text-align: center;
}

.nav-links a {
  display: block;
  padding: 0.75rem 1rem;
  color: var(--heading-color);
}

.nav-links a:hover {
  background-color: var(--nav-links-hover-bg);
}

@media (min-width: 768px) {
  .nav-links {
    display: flex !important;
    position: static;
    justify-content: end;
    flex-direction: row;
    background: transparent;
  }
}

.hamburger {
  display: none;
}

/*  contact page */
.contact-section {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--contact-section-bg);
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.contact-header {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-header h1 {
  font-size: 2.5rem;
  color: var(--contact-heading-color);
  margin-bottom: 1rem;
}

.contact-header p {
  font-size: 1.125rem;
  color: var(--contact-text-color);
}

.contact-grid {
  display: grid;
  gap: 2rem;
}
/*hover card */
.card-content:hover {
  background: linear-gradient(to right, #000000, #1c2f6c);
  color: white;
}

.card-content:hover a {
  color: #ffe066; 
}

@media (min-width: 768px) {
  .contact-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.contact-card {
  background-color: var(--contact-card-bg);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.contact-card h2 {
  font-size: 1.5rem;
  color: var(--contact-heading-color);
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--form-label-color);
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--form-border-color);
  border-radius: 0.5rem;
  font-size: 1rem;
}

.submit-btn {
  width: 100%;
  background-color: var(--body-text-color);
  color: var(--primary-color);
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* إضافة تأثير التحويل */
}

.submit-btn:hover {
  background-color: #4e4cff;
  transform: scale(1.05);
}


.contact-info {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.contact-info a {
  color: var(--body-text-color);
  margin-left: 0.5rem;
}

.contact-info a:hover {
  color: var(--menu-bg);
}
.footer {
  background-color: var(--footer-bg-resume);
  color: var(--heading-color);
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
/*--------- Projects page ---------*/

body.projects {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: var(--background-color);
  color: var(--project-heading-color);
}

a {
  text-decoration: none;
}

.nav {
  background-color: var(--menu-bg);
  padding: 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  color: var(--heading-color);
  font-size: 1.5rem;
  font-weight: bold;
}
.hamburger {
  display: none;
}

.hamburger-btn {
  background: none;
  border: none;
  color: var(--heading-color);
  cursor: pointer;
}

.hamburger-icon {
  width: 24px;
  height: 24px;
}
.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.menu li a {
  color: var(--heading-color);
  padding: 0.5rem 1rem;
}

.menu li a:hover {
  background-color: var(--menu-bg);
  border-radius: 5px;
}

.projects-section {
  background-color: var(--contact-section-bg);
  margin: 2rem auto;
  padding: 2rem;
  max-width: 1200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.projects-header {
  text-align: center;
  margin-bottom: 2rem;
}

.projects-header h1 {
  font-size: 2.5rem;
  color: var(--project-heading-color);
  margin-bottom: 0.5rem;
}
.projects-header p {
  font-size: 1.125rem;
  color: var(--project-text-color);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.project-card {
  background-color: var(--project-card-bg);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
}
.project-card:hover {
  background: linear-gradient(to right,var(--gradient-start), var(--gradient-end));
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
.project-card h2 {
  font-size: 1.5rem;
  color: var(--project-heading-color);
  margin-bottom: 1rem;
}

.project-card p {
  color: var(--project-card-text-color);
  margin-bottom: 1rem;
}
.project-card:hover p,
.project-card:hover ul {
  color: var(--card-hover-text-color);
  margin-bottom: 1rem;
}
.project-card a {
  color: var(--project-heading-color);
  font-weight: 500;
}
.project-card a:hover {
  color: var(--project-heading-color);
  text-decoration: underline;
}
.footer {
  background-color: var(--footer-bg-project);
  color: var(--heading-color);
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

/*--------- resume page---------*/

body.resume {
  font-family: 'Rubik', sans-serif;
  background-color: var(--background-color);
  color: var(--project-heading-color);
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}
.navbar {
  background-color: var(--menu-bg);
  padding: 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  color: var(--heading-color);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.hamburger {
  display: none;
}

.menu-button {
  background: none;
  border: none;
  color: var(--heading-color);
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}

.menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.menu li a {
  color: var(--heading-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.menu li a:hover {
  background-color: var(--menu-bg);
  border-radius: 5px;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .menu {
    position: static;
    background: transparent;
    flex-direction: row;
  }
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*footer*/
.footer {
  background-color: var(--footer-bg-resume);
  color: var(--text-color-footer);
  padding: 1rem 0;
  text-align: center;
}

.text-center {
  text-align: center;
}
/*menu on mobile responsive*/
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 27px;
    left: -16px;
    width: 100vw;
    background-color: var(--menu-bg);
    z-index: 50;
    padding: 1rem 0;
  }
  .menu.show {
    display: flex;
  }
  .menu li {
    text-align: center;
  }
}