:root {
    --primary-color: #415de6;
    --secondary-color: #e64157;
    --tertiary-color: #12c2e9;
    --primary-gradient-color: linear-gradient(90deg, #e64157, #415de6);
    --secondary-gradient-color: linear-gradient(to right, #12c2e9, #f64f59, #f64f59);
    --underline-gradient: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
    --vertical-gradient: linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
    --font-family: 'Rubik', sans-serif;
}

.bg-primary { background-color: var(--primary-color); }
.bg-secondary { background-color: var(--secondary-color); }
.bg-tertiary { background-color: var(--tertiary-color); }
.bg-primary-gradient { background-image: var(--primary-gradient-color); }
.bg-secondary-gradient { background-image: var(--secondary-gradient-color); }
.bg-underline-gradient { background-image: var(--underline-gradient); }
.bg-vertical-gradient { background-image: var(--vertical-gradient); }
.text-primary { color: var(--primary-color); }
.text-secondary { color: var(--secondary-color); }
.text-tertiary { color: var(--tertiary-color); }
.font-rubik { font-family: var(--font-family); }
/* تعريف hover بشكل مخصص */
a:hover {
    color: var(--secondary-color) !important;
}
